/*
/.*

!lib/
!settings.js
!versions.js
!package.json
!package-lock.json
!README.md
!CONTRIBUTING.md
!LICENSE
!CHANGELOG.md
!tap-snapshots/
!test/
!.github
!.gitignore
!.gitattributes
!coverage-map.js
!nyc.config.js
!npm-run-test.js
